# Importing packages

In [4]:
from sklearn.model_selection import train_test_split
import pandas as pd

## Functions

In [2]:
def sliding_window(df,window,counter):
    test_freqs=df.filter(regex=("f.*"))
    feature_idx_end=df.columns.get_loc("Ear.coded")+1
    features=df.iloc[:,:feature_idx_end]
    window_start=window*(counter-1)
    window_end=window*(counter)
    select_freq=test_freqs.iloc[:,window_start:window_end]
    data_window=pd.concat([features,select_freq],axis=1)
    return data_window

def split(data):
    y=data.loc[:,"OverallPoF"]
    X=data.drop(["OverallPoF"],axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=20)
    return X_train,X_test,y_train,y_test

def split_window(data,window,counter):
    X_train=split(sliding_window(data,window,counter))[0]
    Y_train=split(sliding_window(data,window,counter))[2]
    x_test=split(sliding_window(data,window,counter))[1]
    y_test=split(sliding_window(data,window,counter))[3]
    return X_train,x_test,Y_train,y_test

def mix_sort(string):
    return list(map(int,re.findall(r'\d+',string)))[0]

def freq_name_change

In [40]:
frequencies = a_data.filter(regex=r'f.*').columns

def rename_mapping(columns, prefix):
    mapping = { }
    for c in columns:
        mapping[ c ] = prefix + c[ 1 : ]
    return mapping

a_data = a_data.rename(columns = rename_mapping(frequencies, 'fa'))
y_data = y_data.rename(columns = rename_mapping(frequencies, 'fy'))
p_data = p_data.rename(columns = rename_mapping(frequencies, 'fp'))

## Loading data set

In [7]:
a_data=pd.read_csv("a_data.csv")
y_data=pd.read_csv("y_data.csv")
p_data=pd.read_csv("p_data.csv")

In [56]:
a_data.head(2)

,Gender,AgeM,ECV,TPP,SC,TympPoF,OAE1,OAE1.4,OAE2,OAE2.8,...,fa6168,fa6349,fa6535,fa6727,fa6924,fa7127,fa7336,fa7550,fa7772,fa8000
0,0,112,1.08,0,0.52,1,3.0,10.0,18.0,14.0,...,0.5370,0.4869,0.4301,0.4080,0.3804,0.3291,0.2951,0.2530,0.2282,0.2003
1,0,114,1.28,0,1.28,0,7.0,4.0,9.0,5.0,...,0.2636,0.2578,0.2443,0.2549,0.2604,0.2397,0.2299,0.2048,0.1917,0.1659

In [57]:
y_data.head(2)

,Gender,AgeM,ECV,TPP,SC,TympPoF,OAE1,OAE1.4,OAE2,OAE2.8,...,fy6168,fy6349,fy6535,fy6727,fy6924,fy7127,fy7336,fy7550,fy7772,fy8000
0,0,112,1.08,0,0.52,1,3.0,10.0,18.0,14.0,...,2.7548,2.0417,2.3436,3.4883,4.6446,5.8815,7.1433,8.5078,9.9778,11.0609
1,0,114,1.28,0,1.28,0,7.0,4.0,9.0,5.0,...,2.0749,2.8914,3.7540,4.6466,5.3926,6.1797,6.9469,7.7909,8.6962,9.3757

In [10]:
p_data.head(2)

,Gender,AgeM,ECV,TPP,SC,TympPoF,OAE1,OAE1.4,OAE2,OAE2.8,...,f6168,f6349,f6535,f6727,f6924,f7127,f7336,f7550,f7772,f8000
0,0,112,1.08,-189,0.52,1,3.0,10.0,18.0,14.0,...,-31.4989,1.7249,42.2983,61.3063,69.5409,75.6207,78.7186,81.2609,82.5683,83.6919
1,0,114,1.28,-49,1.28,0,7.0,4.0,9.0,5.0,...,63.0352,70.9697,75.9390,77.5764,78.5428,80.4686,81.4860,82.9247,83.6925,84.7525
2,1,118,1.26,-27,0.87,0,9.0,12.0,8.0,12.0,...,32.6836,54.5075,66.1629,71.5143,74.2298,76.5667,77.5448,78.8801,79.7010,80.3392
3,0,119,0.64,-8,0.60,0,13.0,9.0,13.0,11.0,...,89.8718,89.7326,89.9112,90.1791,89.7326,89.4200,88.9014,88.9160,88.9497,89.3451
4,0,95,0.92,-17,1.65,0,7.0,0.0,2.0,12.0,...,-45.0834,-58.0213,-65.8774,-66.1527,-69.3900,-72.9095,-73.4891,-70.6355,-68.9189,-72.0742

In [58]:
apy_data=a_data.merge(y_data).merge(p_data)

## Splitting Training and Testing Set

In [373]:
## Left = 0 Right = 1

In [62]:
col_exclusion=["OAEPoF","TympPoF"] ## Determined that Gender SC and ECV take up too much variance
# col_exclusion=["OAEPoF","TympPoF","Gender","ECV","SC"]

In [63]:
apy_data=apy_data.drop(col_exclusion,axis=1)
# data.columns.values.tolist()

In [65]:
y=apy_data.loc[:,"OverallPoF"]
X=apy_data.drop(["OverallPoF"],axis=1)

In [66]:
X_train, x_test, Y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=12)
# X_train.columns.values.tolist()